@model IEnumerable<TrackMyKid.Common.Models.RouteModel>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Add")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route_Display_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Halt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route_Display_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Halt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Manage Trips", "Index", "Trip"
                                                         , new
                                                         {
                                                             orgId = 100 /*item.Organization_ID*/                       ,
                                                             routeId = item.Route_ID
                                                         }
                                                         , new { })  |
                    @Html.ActionLink("Manage Halts", "Index", "Halt"
                                                         , new
                                                         {
                                                             orgId = 100 /*item.Organization_ID*/                       ,
                                                             routeId = item.Route_ID
                                                         }
                                                         , new { })
                </td>
            </tr>
        }

    </table>
</body>
</html>
